/* Styling the page */
:root {
    --primaryColor: #efaf37;
    --secondaryColor: #9a5b23;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, #002b36 0%, #1a3a6d 100%);
    font-weight: bold;
    font-size: large;
}

form {
    width: 38.5em;
    padding: 1em 1em;
    margin: 0 auto;
    border: 3px solid var(--primaryColor);
    color: var(--primaryColor);
}

h1 {
	margin-top: 0;
    text-align: center;
    color: var(--primaryColor);
}

label {
	float: left;
    width: 11em;
    text-align: right;
}

input {
    width: 11em;   
    margin-left: 1em;
	margin-right: .5em;
    margin-bottom: .5em;
    font-weight: bold;
    background: var(--primaryColor);
    color: var(--secondaryColor);
    border: none;
}

input[type="button"] {
    width: 10em;   
    height: 1.7em;
    display: block;
    margin: auto;
    background: none;
    transition: all .2s;
    color: var(--primaryColor);
    border: 3px solid var(--primaryColor);
    border-radius: .7em;
}

input[type="button"]:hover {
    cursor: pointer;
    background: var(--primaryColor);
    color: var(--secondaryColor);
}

span {
	color: rgb(22, 222, 212);
}
