/* Styling the page */
:root {
    --primaryColor: #e59d29;
    --secondaryColor: #18a8a1;
    --backgroundColor: #002b36;
}

body {
    background: var(--backgroundColor);
    font-size: large;
}

body, input, input[type="button"] {
    font-family: 'Raleway', Arial, Helvetica, sans-serif; 
}

h1, .message {
    margin: .5em 0 .3em 0;
    text-align: center;
    font-style: italic;
    color: var(--primaryColor);
}

#registration-form {
    width: 36em;
    padding: 1em 1em;
    color: var(--primaryColor);
    border: 3px solid var(--secondaryColor);
}

#registration-form, input[type="button"] {
    margin: auto;
    border-radius: 1em;
}

label {
	float: left;
    width: 11em;
    text-align: right;
}

input {
    width: 11em;   
    height: 1.5em;
    margin: 0 .5em .5em 1em;
    background: var(--primaryColor);
    color: var(--backgroundColor);
    border: 1px solid var(--backgroundColor);
}

span {
	color: var(--secondaryColor);
}

input[type="button"] {
    width: 8em;   
    height: 2.5em;
    display: block;
    background: none;
    transition: all .2s;
    color: var(--secondaryColor);
    border: 3px solid var(--secondaryColor);
}

input[type="button"]:hover {
    cursor: pointer;
    background: var(--secondaryColor);
    color: var(--backgroundColor);
}

/* For phones */
@media only screen and (max-width: 667px) {
    #registration-form {
        width: 80%;
    }  

    label {
        float: none;
    }  

    span {
        display: inline-block;
    }
}